<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.hk.io.language.plugin.editors.IoEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="io"
            icon="icons/io_obj.gif"
            id="org.hk.io.language.plugin.editors.IoEditor"
            name="IoLanguageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hk.io.language.plugin.preferences.IoPreferencePage"
            id="org.hk.io.language.plugin.preferences.IoPreferencePage"
            name="io">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hk.io.language.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="IlanguageBuilder"
         name="Io Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="ilangplugin.builder.IoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="IlanguageNature"
         name="io Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ilangplugin.builder.IoNature">
         </run>
      </runtime>
      <builder
            id="ilangplugin.IlanguageBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="ilangplugin.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="ilangplugin.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/io_obj.gif"
               id="ilangplugin.addRemoveNatureAction"
               label="Add/Remove Sample Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.hk.io.language.plugin.launcher.IoLauncher"
            id="ilangplugin.launchDelegate"
            modes="run"
            name="Io Application">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.hk.io.language.plugin.launcher.IoLauncher"
            id="ilangplugin.launchConfigurationType"
            modes="run"
            name="Io Application"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	<launchConfigurationTabGroup
          class="org.hk.io.language.plugin.launcher.IoLauncherTabGroups"
          description="This is the configuration tab group of the DemoLauncher"
          id="ilangplugin.launchConfigurationTabGroup"
          type="ilangplugin.launchConfigurationType">
    </launchConfigurationTabGroup>
	</extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.hk.io.language.plugin.launcher.IoLauncherShortcut"
            id="ilangplugin.shortcut"
            label="Io Application"
            icon="icons/io_obj.gif"
            modes="run">
            <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <instanceof value="org.eclipse.core.resources.IFile"/>
                     <test
                           value="*.io"
                           property="org.eclipse.debug.ui.matchesPattern"/>
                  </iterate>
               </with>
            </enablement>
        </contextualLaunch>
      </shortcut>
   </extension>
</plugin>
